<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <div class='clickable'
      (click)="fieldClick($event)"
      [attr.aria-id]="node.id"
      [attr.aria-path]="node.path"
      [matMenuTriggerFor]="fieldMenu">
      {{node.name}}
    </div>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div class='clickable'
      (click)="fieldClick($event)"
      [attr.aria-id]="node.id"
      [attr.aria-path]="node.path"
      [matMenuTriggerFor]="fieldMenu">
      {{node.name}}
    </div>
  </mat-tree-node>
</mat-tree>
  
<mat-menu #fieldMenu="matMenu">
  <button mat-menu-item (click)="fieldMenuClick({ btnType: 'AddChild', btnData: '' })" [disabled]='!canAddChildren'>Add Child</button>
  <button mat-menu-item (click)="fieldMenuClick({ btnType: 'RenameField', btnData: '' })" [disabled]='!canModify'>Rename Field</button>
  <button mat-menu-item (click)="fieldMenuClick({ btnType: 'RemoveBranch', btnData: '' })" [disabled]='!canModify'>Remove Field</button>
</mat-menu>
