<mat-toolbar>
    <button mat-stroked-button (click)="toolbarBtnClick({ btnType:'Export', btnData: ''})">Export</button>
    <button mat-stroked-button (click)="toolbarBtnClick({ btnType:'SetMode', btnData: ''})">{{appMode}}</button>
    <button mat-stroked-button [matMenuTriggerFor]="addNode">Add Node</button>

    <mat-form-field appearance="fill">
        <!-- <mat-label>Layout</mat-label> -->
        <mat-select
            [(value)]="selectedLayout"
            (selectionChange)='toolbarDropdownChanged($event)'
            >
            <mat-option [value]="option.value" *ngFor="let option of layouts">
                {{ option.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-menu #addNode="matMenu">
        <ng-container *ngFor="let blockCat of appBlockDefs">
            <button mat-menu-item [matMenuTriggerFor]="sub_menu">
                {{ blockCat.blockServiceDisplayName }}
            </button>
            <mat-menu #sub_menu="matMenu">
                <button *ngFor="let subItem of blockCat.blocks" mat-menu-item
                    [attr.aria-guid] = subItem.blockTemplateGuid
                    (click)="toolbarBtnClick({ btnType: 'AddNode', btnData: $event })"
                >
                    {{subItem.blockName}}
                </button>
            </mat-menu>
        </ng-container>
    </mat-menu>
    <button mat-stroked-button (click)="toolbarBtnClick({ btnType:'LoadTestData', btnData: ''})">Load Test Data</button>
</mat-toolbar>
