<div class='container-fluid'>
    <div #mainViewNode>
        <div>
            <toolbar-component
                (btnClicked) = "handleBtnClick($event)"
                [appMode]='appMode'
            >
            </toolbar-component>
        </div>

        <div>
            <diagram-component
                [drawingLinks] = 'drawingLinks'
                [drawingNodes] = 'drawingNodes'
                [appMode]='appMode'
            >
            </diagram-component>
        </div>
    </div>
</div>
