<div class='container-fluid'>
    <div #mainViewNode>
        <div>
            <toolbar-component
                (dropdownChanged) = "handleDropDown($event)"
                [selectedLayout]='drawingLayout'>
            </toolbar-component>
        </div>

        <div>
            <diagram-component
                [drawingLinks] = 'drawingLinks'
                [drawingNodes] = 'drawingNodes'
                (nodeClicked)="openBlockProps($event)"
                (linkClicked)="openLinkProps($event)">
            </diagram-component>
        </div>
    </div>
</div>
