.alignTopLeft > ::ng-deep figure {
    align-items: flex-start!important;
    justify-content: left!important;
}

[aria-id='blockRenameBtn'] {
    font-size: x-small;
}

block-edge-mgr {
    min-height: 300px;
}